.header {
  height: 100vh;

  background: url(../../../assets/images/header-bg.jpg) no-repeat fixed center center / cover;

  &.small {
    height: 257px;
  }

  i {
    font-size: 30px;
    margin-right: 10px;
  }

  .header-content {
    padding: 30px;
    height: 100%;
  }

  .logo {
    color: #ffffff;
    margin-left: 15px;
    height: 50px;
    width: 50px;
  }

  h2 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
  }
  .content {
    height: 300px;
    margin: 20px;
    background: #fff;
    border: 2px solid #fff;
  }
  .footer {

  }
}