.sales-table {
  .sales-table__block-images {
    position: relative;
  }

  .sales-table__images {
    padding: 15px 0px;
    position: relative;
  }

  .sales-table__image {
    width: 150px;
    height: auto;
    border-radius: 500rem;
  }

  .sales-table__image-product {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    //&:hover {
    //  filter: blur(3px);
    //}

  }

  //.sales-table__images:hover .go-to-facebook {
  //  display: block;
  //}

  $break-small: 426px;

  .sales-table__avatar {
    width: 100px;
    height: 100px;
    background-size: 116% !important;

    @media (max-width: $break-small) {
      width: 50px;
      height: 50px;
    }
  }

  md-icon {
    min-height: 16px;
    min-width: 16px;
  }

  .center-cropped {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .center {
    z-index: 1000;
    vertical-align: middle;
    position: absolute;
    left: 28%;
    top: 35%;
  }

  .go-to-facebook {
    display: none;
    z-index: 1000;
    font-size: 30px;
    color: #fff;
  }
}